body {
    text-align: center;
    font-family:"comic sans ms";
    animation: enTill 4s infinite;
}

@keyframes enTill{
    0%{
        background:green;
    }
    50%{
        background:grey;
    }
    100%{
        background:green;
    }
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td, th {
    width: 100px;
    height: 50px;
    border: solid black 1px;
}

th {
    text-decoration: underline;
    animation: lul 4s infinite;
}

td {
    background: lightgreen;
}



#modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding-bottom: 20px;
    border: 1px solid #888;
    text-align: center;
    font-family: "Comic Sans Ms";
    width: 80%;
    /* Could be more or less, depending on screen size */
}

#closeModal {
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}

.alreadyBooked {
    background: red;
    color: white;
}

@keyframes lul{
    0%{background:pink;}
    50%{background:blue;}
    100%{background:pink;}
}

.currentUserBooked {
    background: orange;
}

.tempSelected {
    background-color: blue;
    color: white;
}

#yearAndWeek p{
    display:inline;
}

#blue {
    background: blue;
    color: white;
    width: 100px;
    height: 100px;
}

#red {
    background: red;
    width: 100px;
    height: 100px;
}

#orange {
    background: orange;
    width: 100px;
    height: 100px;
}

#explanation {
    left: 5px;
    top: 5px;
    position: absolute;
}