body {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td, th {
    width: 100px;
    height: 50px;
    border: solid black 1px;
}

th {
    text-decoration: underline;
}

td {
    background: lightgreen;
}

<<<<<<< HEAD

.alreadyBooked {
=======
.alreadyBooked {
    pointer-events: none;
>>>>>>> 48d8e1bebd94eed10c9a55449569abc4da7f2d60
    background: red;
    color: white;
}

.currentUserBooked{
    background:orange;
<<<<<<< HEAD
=======
    pointer-events: none;
>>>>>>> 48d8e1bebd94eed10c9a55449569abc4da7f2d60
}

.tempSelected{
    background-color:blue;
    color:white;
}

#blue{
    background:blue;
    color:white;
    width:100px;
    height:100px;
}
#red{
    background:red;
    width:100px;
    height:100px;
}
#orange{
    background:orange;
    width:100px;
    height:100px;
}
#explanation{
    left:5px;
    top:5px;
    position:absolute;
}